/CECS 277/Project 7 - Collections/AliceInWonderland/nbproject/private/
/CECS 277/Project 7 - Collections/AliceInWonderland/build/
/CECS 277/Project 7 - Collections/ScavengerHunt/nbproject/private/
/CECS 277/Project 7 - Collections/ScavengerHunt/build/